* {
  margin: 0 auto;
  padding: 0;
  font-family: "SUIT", sans-serif;
}

h1 {
  margin: 6.5vmin;
  margin-top: 10vmin;
  margin-bottom: 8vmin;
  font-size: 6vmin;
  font-weight: 800;
  margin-left: 6.5vw;
  margin-bottom: 7vmin;
}

.info-container {
  display: flex;
  margin: 6.5vmin;
  margin-bottom: 3vmin;
}

.info-container img,
.info-container .info {
  margin: 10px;
  padding: 0;
}

.h4-text {
  color: gray;
}

hr {
  border-top: 12px solid;
  border-color: #f5eeee;
}

.h2-text {
  margin: 6.5vmin;
  margin-top: 10vmin;
  margin-bottom: 8vmin;
  font-size: 6vmin;
  font-weight: 800;
  margin-left: 6.5vw;
  margin-bottom: 7vmin;
}

.retouch-container {
  margin-bottom: 50px;
}

.changes {
  margin: 6.5vmin;
  margin-top: 5vmin;
  font-weight: 800;
  margin-left: 6.5vw;
  margin-bottom: 7vmin;
}

.change {
  width: 50vw;
  height: 10vmin;
  display: inline-flex;
  background-color: transparent;
  border: 0;
  font-size: 4vmin;
  margin-bottom: 20px;
}

.change img,
.change h4 {
  margin: 0px;
  padding: 0;
}

.navbar {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 8vmin;
}

.navbar input[type="radio"] {
  display: none;
}

.navbar-img {
  width: 6vmin;
  height: 10vmin;
}

.navbar input[type="radio"] + label {
  width: 19vmin;
  height: 10vmin;
  font-size: 1.6vh;
  line-height: 2.5vh;
  text-align: center;
  margin-left: 2.3%;
  color: gray;
  filter: opacity(0.5) drop-shadow(0 0 0 #4b4b4b) contrast(40%) saturate(1000%);
}

.navbar input[type="radio"]:checked + label {
  color: black;
  filter: brightness(0);
}
