* {
  margin: 0 auto;
  padding: 0;
  font-family: "SUIT", sans-serif;
}

.container-back {
  margin: 6.5vmin;
  margin-top: 10vmin;
  margin-bottom: 8vmin;
}

button[type="button"] {
  border: 0;
  filter: opacity(0.5) drop-shadow(0 0 0 #2f2f2f) contrast(40%) saturate(1000%);
  background-color: transparent;
}

h1 {
  font-size: 6vmin;
  font-weight: 800;
  margin-left: 6.5vw;
  margin-bottom: 7vmin;
}

h4 {
  font-size: 3.8vmin;
  font-weight: 700;
  margin-left: 6.6vw;
  margin-bottom: 2vmin;
}

h5 {
  margin-left: 7vw;
  margin-top: 4vmin;
  color: white;
}

img {
  filter: brightness(0) invert(1);
}

input[type="tel"] {
  margin-left: 6.4vw;
  padding-left: 5vw;
  width: 80vw;
  height: 13vmin;
  border-radius: 10px;
  border: 1px solid #c8c7d5;
}

input:focus {
  outline: 1px solid #59cad4;
}

button[type="submit"] {
  position: absolute;
  width: 89vw;
  height: 12vmin;
  border: 0;
  border-radius: 6px;
  background-color: #59cad4;
  color: white;
  font-size: 3.5vw;
  bottom: 13vmin;
  left: 5.5%;
}
